<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
</head>
<body>
<h3>Student Registration Form</h3>
<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
    <div>
        <label for="firstName">
            First name:
        </label>
        <input type="text" th:field="*{firstName}" id="firstName" />
    </div>
    <div>
        <label for="lastName">Last name:</label>
        <input type="text" th:field="*{lastName}" id="lastName" />
    </div>
    <div>
        <label for="country">Country:</label>
        <select th:field="*{country}" id="country">
            <option th:each="country : ${countries}" th:value="${country}" th:text="${country}"></option>
        </select>
    </div>
    <div>
        <span>Highest Level of Education:</span>
        <input th:field="*{education}" type="radio" th:each="option : ${education}" th:value="${option}" th:text="${option}" />
    </div>
    <div>
        <span>Interests:</span>
        <input type="checkbox" th:field="*{interests}" th:each="interest : ${interests}" th:value="${interest}" th:text="${interest}" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>

</body>
</html>