<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Student Confirmation</title>
</head>

<body>
    <h3>Student Confirmation</h3>
    <p>The student is confirmed: <span th:text="${student.firstName} + ' ' + ${student.lastName}" /></p>
    <p>Highest level of education: <span th:text="${student.education}" /></p>
    <p>Interests: <span th:each="interest, iterStat : ${student.interests}" th:text="${iterStat.first ? interest : ', ' + interest}" /></p>
    <p>Thank you for visiting from <span th:text="${student.country}" /></p>
</body>

</html>