<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
</head>
<body>
<h3>Student Registration Form</h3>
<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
    <div>
        <label for="firstName">
            First name:
        </label>
        <input type="text" th:field="*{firstName}" id="firstName" />
    </div>
    <div>
        <label for="lastName">Last name:</label>
        <input type="text" th:field="*{lastName}" id="lastName" />
    </div>
    <div>
        <label for="country">Country:</label>
        <select th:field="*{country}" id="country">
            <option th:each="country : ${countries}" th:value="${country}" th:text="${country}"></option>
        </select>
    </div>
    <div>
        <div>Highest Level of Education:</div>
        <input type="radio" value="High School" th:field="*{education}" />
        <label>High School</label>

        <input type="radio" value="Bachelors" th:field="*{education}" />
        <label>Bachelors</label>

        <input type="radio" value="Masters or Higher" th:field="*{education}" />
        <label>Masters or Higher</label>
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>

</body>
</html>